

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3">
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCard_PnoVencidos" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCard_PnoVencidos">
                <h6 class="m-0 font-weight-bold text-dark">Importación de datos</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapseCard_PnoVencidos" style="">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Subir información</label>
                            <input type="file" class="form-control form-control-sm" id="txtOrdenesTrabajo_file" name="name" value="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 offset-9">
                            <div class="form-group">
                                <button type="button" class="btn btn-icon btn-sm btn-success btn-left" id="btnOrdenesTrabajo_file_save"><i class="fa fa-file-upload"></i> Upload</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-dark" id="pgbCapasImport_progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="card shadow col-md-12">
        <h6 class="card-header font-weight-bold text-dark py-3">Ordenes de Trabajo</h6>
        <div class="card-body">
            <div class="row" id="frm_OrdenesTrabajo">
                <div class="form-group col-md-3">
                    <label for="txtOrdenesTrabajo_number" class="form-label">Order Number</label>
                    <input type="text" class="form-control form-control-sm" id="txtOrdenesTrabajo_number" placeholder="Enter Order number">
                </div>
                <div class="form-group col-md-3" style="margin-top:2rem;">
                    <a href="#" id="btnOrdenesTrabajo_Search" class="btn btn-info btn-icon-split btn-sm">
                        <span class="icon text-white-50">
                            <i class="fas fa-search"></i>
                        </span>
                        <span class="text">Buscar</span>
                    </a>
                    <a href="#" id="btnOrdenesTrabajo_clean" class="btn btn-secondary btn-icon-split btn-sm">
                        <span class="icon text-white-50">
                            <i class="fas fa-eraser"></i>
                        </span>
                        <span class="text">Limpiar Filtros</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="max-height:500px; overflow:auto">
                        <table class="table table-sm table-hover" id="tblOrdenesTrabajo">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">orden</th>
                                    <th scope="col">aviso</th>
                                    <th scope="col">ubicación Técnica</th>
                                    <th scope="col">Denominación</th>
                                    <th scope="col">Texto Breve</th>
                                    <th scope="col">Status Sistema</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">Modificado por</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider text-center">
                                <tr><td colspan="100%"><p class="text-center">No records found</p></td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="pgdOrdenesTrabajo">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" data-paginado="Anterior"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                            <div class="btn-group">
                                <select class="form-control text-center" style="width:80px !important" data-paginado="Paginas">
                                    <option selected disabled value="-1">Página</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-info" data-paginado="Siguiente"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>require(['OrdenesTrabajo']);</script>