@{
    ViewBag.Title = "Home Page";
    Nexus.Clases.Users users = new Nexus.Clases.Users();
    Nexus.Clases.Access access = new Nexus.Clases.Access();

    string User = users.get_user_fullname(HttpContext.Current.User.Identity.Name);
    string Department = users.get_user_department_code(HttpContext.Current.User.Identity.Name);


}

<!-- Page Heading -->

<!-- Content Row -->


<!-- Content Row -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">            <!-- Card Body -->
            <div class="card-body">
                <div class="row" style="">
                    <div class="content-dashboard">
                        <iframe class="iframe-dashboard" title="ScoreCard" src="https://app.powerbi.com/reportEmbed?reportId=671b0b81-06e5-4e49-a8a4-c5c2f4b84041&autoAuth=true&ctid=fcb2b37b-5da0-466b-9b83-0014b67a7c78&navContentPaneEnabled=false&filterPaneEnabled=false" frameborder="0" allowFullScreen="true"></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1 mb-4">
        <button class="btn carousel-arrow carousel-arrow--prev" id="btnHome_carousel_prev" style="" onclick="handleCarouselMove(false)">
            <span class="fa fa-arrow-left" style="padding:30px 0;"></span>
        </button>
    </div>
    <div class="row col-md-10" id="pnlHome_templates_table">

    </div>   
    <div class="col-md-1 mb-4">
        <button class="btn carousel-arrow carousel-arrow--next" id="btnHome_carousel_next" style="" onclick="handleCarouselMove(false)">
            <span class="fa fa-arrow-right" style="padding:30px 0;"></span>
        </button>
    </div>
    <div style="display:none" id="pgdHome_templates_table">
        <div class="btn-group">
            <button type="button" class="btn btn-info" id="btnHome_carousel_prev_aux" data-paginado="Anterior"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
            <div class="btn-group">
                <select class="form-control text-center" style="width:80px !important" data-paginado="Paginas">
                    <option selected disabled value="-1">Página</option>
                </select>
            </div>
            <button type="button" class="btn btn-info" id="btnHome_carousel_next_aux" data-paginado="Siguiente"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<div class="row">
     
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header d-flex flex-row align-items-center justify-content-between py-3">
                <h6 class="m-0 font-weight-bold text-dark" id="pnlHome_template_dashboards">Lista de Dashboards</h6>
                <input type="text" id="txtHome_id_template" style="display:none" name="name" value="" />
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                        <div class="dropdown-header">Menu:</div>
                        <a class="dropdown-item" id="btnHome_template_menu_close">Cerrar template</a>
                            <a class="dropdown-item" id="btnHome_template_menu_edit">Editar template</a>
                        <a class="dropdown-item" id="btnHome_template_menu_remove">Remover template de la lista</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <input type="text" style="display:none" readonly id="id_department" value="@Department" />
                <div class="row" id="dashboars_panel" style="min-height:300px;">

                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="mdlHome_template_edit" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Editar Template</h4>
                <button type="button" class="btn btn-close btn-icon" data-dismiss="modal" aria-label="Close"><span class="fa fa-x"></span></button>
            </div>
            <div class="modal-body">
                <div class="row" id="frmHome_template_Edit">
                    <div class="form-group col-md-2">
                        <input type="text" id="txtHome_template_Edit_id" name="name" value="" />
                        <label for="slcHome_template_Edit_department" class="form-label">Departamento</label>
                        <select id="slcHome_template_Edit_department" class="form-control form-control-sm">
                            <option value="-1">Seleccione</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="txtHome_template_Edit_title" class="form-label">Titulo</label>
                        <input type="text" class="form-control form-control-sm" id="txtHome_template_Edit_title" placeholder="Ingrese el titulo del dashboard">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="slcHome_template_Edit_dashboard_type" class="form-label">Tipo de Dashboard</label>
                        <select id="slcHome_template_Edit_dashboard_type" class="form-control form-control-sm">
                            <option value="-1">Seleccione</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3" style="margin-top:2rem;">
                        <a href="#" id="btnHome_template_Edit_Search" class="btn btn-info btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fas fa-search"></i>
                            </span>
                            <span class="text">Buscar</span>
                        </a>
                        <a href="#" id="btnHome_template_Edit_clean" class="btn btn-secondary btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fas fa-eraser"></i>
                            </span>
                            <span class="text">Limpiar Filtros</span>
                        </a>
                    </div>
                </div>
                <div class="row" id="mdlHome_template_edit_pnl_dashboard">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" id="btn_close_dashboard_modal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlHome_add_template" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Nuevo Template</h4>
                <button type="button" class="btn btn-close btn-icon" data-dismiss="modal" aria-label="Close"><span class="fa fa-x"></span></button>
            </div>
            <div class="modal-body">
                <div class="row" id="">
                    <div class="form-group col-md-6">
                        <label>Seleccione una opción</label>
                        <select class="form-control form-control-sm" id="slcHome_opcion_template">
                            <option value="-1" selected>Seleccione</option>
                            <option value="0">Crear nuevo template</option>
                            <option value="1">Agregar template existente</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div class="" id="pnlHome_modal_create_template">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label>Nombre de Template</label>
                            <input type="text" class="form-control form-control-sm" id="txtTemplate_name" placeholder="Ingrese un nombre" name="name" value="" />
                        </div>
                        <div class="form-group col-md-5">
                            <div class="form-check" style="margin-top:2rem;">
                                <input class="form-check-input" type="checkbox" value="" id="cbxTemplate_is_private">
                                <label class="form-check-label" for="cbxTemplate_is_private">
                                    Template privado
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-2" style="margin-top:2rem;">
                            <button class="btn btn-sm btn-success" id="btnTemplate_guardar">Siguente</button>
                        </div>
                    </div>      
                </div>
                <div id="pnlHome_modal_add_template">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Seleccione un opción</label>
                            <select class="form-control form-control-sm" id="slcTemplate_add">
                                <option value="-1">Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" style="margin-top:2rem;">
                            <button class="btn btn-sm btn-success" id="btnTemplate_add_guardar">Añadir template</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dashboard_modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" id="dashboard_modal_panel">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Compartir</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_close_dashboard_modal" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script>
    const carousel = document.querySelector(".carousel-container");
    const slide = document.querySelector(".carousel-slide");

    function handleCarouselMove(positive = true) {
        const slideWidth = slide.clientWidth;
        carousel.scrollLeft = positive ? carousel.scrollLeft + slideWidth : carousel.scrollLeft - slideWidth;
    }
</script>

<script>require(['Home']);</script>