body {
}
.zoom {
    z-index: 1;
    transition: transform .2s;  Animation 
    margin: 0 auto;
}

    .zoom:hover {
        transform: scale(1.1);  (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 
         To bring top 
        position: relative;
        align-content: center;
        background-position: center;
        z-index: 1;
    }
/*.caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0;
    width: 100%;
    padding: 5px 3%;
    background-color: #555;
    opacity: 0.8;
    color: #fff;
    font-weight: bold;
}*/

.preview-dash {
    border-style: solid;
    border-width: 1px;
    border-color: #dbdbdb;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 3px 3px 10px #dbdbdb;
    cursor: pointer;
}